/* #region Common Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

li {
    list-style: none;
}
/* #endregion Common Rules */

/* #region Utilities */
:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --darker: #000;
    --dark:#323332;
    --light: #fffefe;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.position_relative {
    position: relative;
}

.space_between {
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
}

.d_flex {
    display: flex;
}
/* #endregion Utilities */

/* #region flex grid */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
}

.container_fluid{
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* #endregion flex grid */

/* #region button */

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn_secondary {
    background-color: var(--secondary);
    color: var(--light);
}

.btn_light {
    background-color: var(--light);
    color: var(--darker);
}
/* #endregion button */

/* #region debug */
.debug header {
    height: 80px;
}

.debug #claim_section div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #strategic_planning div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #testimonials div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #benefits div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #about_us div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}
/* #endregion debug */


/******************* 
      Header 
********************/
header {
    background-color: var(--secondary);
    padding: 1rem 0;
}

header nav {
    display: flex;
    flex-direction: row-reverse;
}

header .main_menu {
    display: none;
}

.main_menu {
    padding: 1rem;
}


/******************* 
       Main 
********************/

/* claim section */
#claim_section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#claim_section .row {
    display: flex;
    margin: 0 -1rem;
    row-gap: 1rem;
}

#claim_section h3 {
    color: var(--secondary);
    text-align: center;
    padding-bottom: 1.5rem;
}

#claim_section p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

#claim_section .demo_application p {
    text-align: left;
}

#claim_section img {
    margin-top: 2rem;
    align-self: center;
    max-width: 250px;
}

.demo_application {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-soft);
    border-radius: 2rem;
    padding: 2rem 2rem 0 2rem;
    margin: 0 1rem;
}

.skills_card {
    background-color: var(--secondary-soft);
    border-radius: 2rem;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.icon {
    color: var(--secondary);
    font-size: 4rem;
    padding-bottom: 1rem;
}

/* strategic planning */
#strategic_planning {
    background-color: var(--primary);
    padding: 3rem 0;
}

.strategic_planning {
    color: var(--light);
}

.strategic_planning img {
    padding-bottom: 3rem;
}

.strategic_planning h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.strategic_planning p {
    font-size: 0.7rem;
    padding-bottom: 1rem;
    line-height: 1rem;
}

.app_development {
    background-color: var(--light);
    padding: 1rem;
    border-radius: 3rem;
    text-align: center;
}

.app_development h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.app_development p {
    font-size: 0.7rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.app_development i {
    font-size: 0.7rem;
    background-color: var(--primary);
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
}


/* Testimonials */
#testimonials {
    padding: 3rem 0;
}

#testimonials h4, 
#testimonials h3,
#testimonials p {
    display: block;
    text-align: center;
    padding-bottom: 1.2rem;
}

#testimonials h4 {
    font-weight: 400;
}

#testimonials h3 {
    color: var(--primary);
    font-size: 2rem;
}

#testimonials .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

#testimonials .row {
    row-gap: 1rem;
}

#testimonials img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 70%;
    margin-bottom: 1rem;
}

#testimonials span {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.name {
    padding-top: 1rem;
    display: block;
    font-size: 1.2rem;
}






/* Benefits */
#benefits {
    background-color: var(--primary);
}

/* about us */
#about_us {

}

/* get started  */
#get_started {
    background-color: var(--primary);
}



/******************* 
       Footer
********************/
footer {
    background-color: var(--dark);
    color: var(--light);
}

footer p,
footer span {
    font-size: 0.7rem;
}

footer a {
    color: var(--primary);
}

/* #region media screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 850px;
    }
    .md_col-4 {
        width: calc((100% / 12) * 4);
    }

    .md_col-5 {
        width: calc((100% / 12) * 5);
    }

    .md_col-6 {
        width: calc((100% / 12) * 6);
    }
    
    .md_col-7 {
        width: calc((100% / 12) * 7);
    }

    .md_col-8 {
        width: calc((100% / 12) * 8);
    }

    #claim_section {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }

    #claim_section .col-12.md_col-8 h3 {
        color: var(--secondary);
        text-align: left;
    }

    #claim_section h3 {
        padding-bottom: 2rem;
    }

    .demo_application {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .lg_col-4 {
        width: calc((100% / 12) * 4);
    }

    .lg_col-5 {
        width: calc((100% / 12) * 4);
    }

    .lg_col-8 {
        width: calc((100% / 12) * 8);
    }

    header .main_menu {
        display: flex;
        align-items: center;
    }

    header .mobile_nav {
        display: none;
    }

    #claim_section {
        padding-top: 1.8rem;
        padding-bottom: 4rem;
    }

    #claim_section img {
        margin-top: 2rem;
        align-self: flex-end;
        max-width: 250px;
    }
    
    #strategic_planning .row {
        gap: 2rem;
    }

    #strategic_planning .lg_col-5:last-child {
        position: relative;
    }

    .app_development {
        position: relative;
        bottom: -3rem;
        left: 0;
    }
}
/* #endregion media screen */