/* #region Common Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/* #endregion Common Rules */

/* #region Utilities */
:root {
    --primary: #9793e5;
    --secondary: #0084fd;
    --secondary-soft: #b4ddfe;
    --accent: #fdc15f;
    --darker: #000;
    --dark:#323332;
    --light: #fffefe;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.position_relative {
    position: relative;
}

.space_between {
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
}

.d_flex {
    display: flex;
}
/* #endregion Utilities */

/* #region flex grid */
.container {
    width: 90%;
    margin: 0 auto;
}

.container_fluid{
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* #endregion flex grid */

/* #region button */
.btn_download_app {
    background-color: var(--secondary);
    color: var(--light);
    text-align: center;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
}
/* #endregion button */

/* #region media screen */
@media screen and (min-width: 1200px) {
    .lg_col-4 {
        width: calc((100% / 12) * 4);
    }
    .lg_col-8 {
        width: calc((100% / 12) * 8);
    }
    #claim_section {
        padding-top: 1.8rem;
        padding-bottom: 4rem;
    }

}

@media screen and (min-width: 768px) {
    .md_col-4 {
        width: calc((100% / 12) * 4);
    }

    .md_col-5 {
        width: calc((100% / 12) * 5);
    }

    .md_col-6 {
        width: calc((100% / 12) * 6);
    }
    
    .md_col-7 {
        width: calc((100% / 12) * 7);
    }

    .md_col-8 {
        width: calc((100% / 12) * 8);
    }
    #claim_section {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }
    #claim_section .col-12.md_col-8 h3 {
        color: var(--secondary);
        text-align: left;
    }
}

@media screen and (min-width: 320px) {

}
/* #endregion media screen */

/* #region debug */
.debug header {
    height: 80px;
}

.debug #claim_section div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #strategic_planning div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #testimonials div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #benefits div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}

.debug #about_us div[class*="col"] {
    height: 100px;
    background-color: #0084fd;
    border: 2px solid black;
}
/* #endregion debug */


/* Header */
header {
    background-color: var(--secondary);
    padding: 1rem 0;
}

header nav {
    display: flex;
    flex-direction: row-reverse;
}

/* Main */

/* claim section */
#claim_section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#claim_section .row {
    gap: 1rem;
}

#claim_section div[class*="col"] {
    background-color: var(--secondary-soft);
    border-radius: 2rem;
    padding: 2rem 2rem 0 2rem;
}

#claim_section h3 {
    color: var(--secondary);
    text-align: center;
    padding-bottom: 2rem;
}

#claim_section p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

#claim_section .demo_application p {
    text-align: left;
}

#claim_section img {
    margin-top: 2rem;
}

.skills_card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--secondary);
    font-size: 4rem;
    padding-bottom: 1rem;
}

/* strategic planning */
#strategic_planning {
    background-color: var(--primary);
}

.app_development {
    background-color: var(--light);
    padding: 2rem;
    border-radius: 3rem;
}
/* Testimonials */
#testimonials .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Benefits */
#benefits {
    background-color: var(--primary);
}

/* about us */
#about_us {

}

/* get started  */
#get_started {
    background-color: var(--primary);
}




/* footer  */
footer {
    background-color: var(--dark);
}





/* and (max-width: 1200px)  */